*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    display: block;
    border: none;
    width: 100%;
    height: 100%;
}
li{
    list-style: none;
}
input{
    display: block;
}
.clear_both{
    overflow: hidden;
}
select,input{
    border: 0;
    outline: none;
    font-size: 0.4rem;
    background: transparent;
}
select{
    text-align: right;
}
.tankuang{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    display: none;
}
.tankuang_content{
    width: 7.746666rem;
    background: #FFFFFF;
    border-radius: 0.08rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translate(0,-50%);
}
.tankuang_title{
    font-size: 0.4rem;
    color: #333333;
    font-weight: bold;
    text-align: center;
    padding: 0.4rem 0 .2rem;
}
.tankuang_text{
    font-size: 0.34rem;
    color: #393E46;
    padding-left: 0.6rem;
    margin-top: 0.1333rem;
}
.tankuang_btn{
    width:49.8%;
    float: left;
    text-align: center;
    height: 1rem;
    line-height:1rem;
    font-size: 0.32rem;
    border-top: 0.02333rem solid #eeeeee;
    margin-top: 0.4rem;
}
.tankuang_btn a{
    color: #999999;
}
.tankuang_close{
    color: #0cd574;
    border-right: 0.02333rem solid #eeeeee;
}

/*免费咨询*/
.content_href{
    width:100%;
    height:100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
}
.content_con_warp{
    width:7.547rem;
    height:6.606667rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin:auto;
}
.content_con{
    width:7.547rem;
    height:5.306667rem;
    background: #ffffff;
    border-radius: 0.1333rem;
    padding:0.53333rem;
    box-sizing: border-box;
}
.content_logo{
    width:1.733333rem;
    height:1.733333rem;
    margin:auto;
}
.content_con p {
    font-size: 0.4rem;
    color: #393E46;
    text-align: center;
    margin-top: 0.4rem;
}
.btn{
    width:2.96rem;
    height:1.06667rem;
    font-size: 0.42rem;
    border-radius: 0.56rem;
    text-align: center;
    line-height: 1.06667rem;
    border: 0.02333rem solid #0cd574;
    float:right;
    margin-top: 0.6667rem;
}
.btn a{
    color: #0cd574;
}
.line_btn a{
    color: #ffffff;
}
.line_btn{
    float: left;
    border: 0.02333rem solid transparent;
    background: #0cd574;
}
.close{
    width:0.8rem;
    height:0.8rem;
    position: absolute;
    left: 0;
    right: 0;
    margin:auto;
    bottom:0rem;
}
